@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 overflow: hidden;
 text-overflow: ellipsis;
 font-family: "Poppins",sans-serif;
 text-transform: capitalize;
}
html{
 overflow:hidden;
}
:root{
    --green: rgb(83, 153, 83);
    --blue: rgb(32, 88, 112);
}

body{
    background-color: whitesmoke;
}

header{
    background-color: white;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    box-shadow: .1rem .1rem .3rem .1rem #00000092;
    animation: top .5s ease-in ;
    z-index: 99;
}
header .logo{
    text-transform: uppercase;
    margin: 0 2rem;
    font-size: 2rem;
    color: var(--blue);
    font-weight: bold;
}
header .logo:hover{
    cursor: pointer;
}

header nav{
    width: 45%;
    margin-right: 3rem;
}
header nav ul{
    margin-right: 6rem;
    display: flex;
    list-style: none;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-size: 1rem;
}
header nav a{
    color: #000;
}
header nav a:hover{
    color: var(--blue);
}

/* menu */
header #menu-btn{
    margin-right:5rem;
    display: none;
}
header #menu-btn:hover{
    cursor: pointer;
    color:var(--blue);
}
header .menu{
    background-color: white;
    height: 100%;
    width: 10rem;
    position: absolute;
    top: 0;
    right: -20rem;
    box-shadow: .1rem .1rem .3rem .1rem #00000092;
}
header #menu.active{
    right: 0rem;
    transition: .5s ease-out;
}
header .menu h4{
    margin: 1.2rem 0;  
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    right: 15%;
}
header .menu h4 span{
    position: absolute;
    right: 0;
}
header .menu h4 span:hover{
    cursor: pointer;
    color: var(--blue);
}
header .menu ul{
    padding-left: 2rem;
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
header .menu a{
    color: #000;
}
header .menu a:hover{
    color: var(--blue);
}

/* menu */


/* HOME */
.home{
    display: flex;
    margin-top:9vh ;
    padding: 2rem;
    height: fit-content;
    justify-content: space-between;
}
.home .discription{
    min-width: 60%;
    max-width: 60%;
}
.home h1{
    padding: .25rem 0;
    animation: left .5s ease-in ;
}
.home h1 span{
    color: var(--blue);
}
.home p{
    padding: 1rem 0;
    font-size: small;
    color: #0c0c0cb7;
    animation: bottom .5s ease-in  ;
}

.home img{
    width: 11rem;
    object-fit: cover;
    height: 11rem;
    border-radius: 50%;
    box-shadow: .1rem .1rem .5rem .1rem var(--green);
    margin-right:5% ;
    animation: right .5s ease-in ;
}
/* HOME */

/* home for mobile */
#home-for-mob{
    margin:5rem 2rem;
}
#home-for-mob h1{
    animation: left .5s ease-in;
}
#home-for-mob span{
    color: var(--blue);
}
#home-for-mob .disc{
    width: 100%;
    height: 10rem;
    display: flex;
    gap: .5rem;
    margin: 3rem 0;
}
#home-for-mob .disc p{
    padding: 1rem 0;
    font-size: small;
    color: #0c0c0cb7;
    animation: bottom .5s ease-in;
}
#home-for-mob .disc img{
    min-height: 8rem;
    min-width: 8rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: .1rem .1rem .5rem .1rem var(--green);
    margin: 1rem;
    animation: right .5s ease-in;
}
/* home for mobile */

/* animations */
@keyframes top {
0% {opacity: 0;transform: translateY(-100px);}
100% {opacity: 1;transform: translateY(0);}
}

@keyframes left {
0% {opacity: 0;transform: translatex(-100px);}
100% {opacity: 1;transform: translatex(0);}
}

@keyframes right {
 0% {opacity: 0;transform: translatex(100px);}
100% {opacity: 1;transform: translatex(0);}
}

@keyframes bottom {
0% {opacity: 0;transform: translatey(100px);}
100% {opacity: 1;transform: translatey(0);}
}

@keyframes ravi {
0% {opacity: 0;transform: translatex(-100px);}
100% {opacity: 1;transform: translatex(0);}
}
/* animations */


@media only screen and (max-width:768px) {
*{
overflow: hidden;
}
header .logo{
    font-size: 1rem;
    position: absolute;
}    
header nav li{
    display: none;
}
header #menu-btn{
    display: block;
}
.home{
    display: none;
}
}
@media only screen and (min-width:768px){
    #home-for-mob{
        display: none;
    }
}
